header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
}
nav {
    width: 50%;
}
ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Benne', serif;
    font-size: 25px;
}
a:hover {
    color: white;
}
#logo {
    width: 100px;

    filter: brightness(1.1);
    mix-blend-mode: multiply;
    padding: 3px;
}