html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AAAAAA;
    border-radius: 1rem;
}
.navegacion-principal {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 425px) {
    .navegacion-principal{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .navegacion-principal{
        width: 70%;
    }
}
.navegacion-principal a {
    text-decoration: none;
    color: black;
    font-family: 'Benne', serif;
    font-size: 25px;
}
.navegacion-principal a:hover {
    color: #5D5D5D;
}
#logo {
    width: 100px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    padding: 3px;
}
@media (max-width: 425px) {
    header {
        flex-direction: column;
    }

}